<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .active {
            font-size: 3rem;
            color: red;
        }
    </style>
</head>
<body>
    <h1><%= active %></h1>

    <div>
        <% if(locals.login){ %>
            <a href="/login/logout">登出</a>
        <% } else { %>
            <h3>未登入</h3>
        <% } %>
    </div>

    <ul>
        <li><a <%if(active=="login"){%>class="active"<%}%> href="/login">login</a></li>
        <li><a <%if(active=="registered"){%>class="active"<%}%> href="/registered">registered</a></li>
        <li><a <%if(active=="product"){%>class="active"<%}%> href="/product/list">product</a></li>
        <li><a <%if(active=="member"){%>class="active"<%}%> href="/member/list">member</a></li>
    </ul>


</body>
</html>